@model CadastroLivros.Api.Models.Assunto

<h1>Editar Assunto</h1>

<form asp-action="Edit">
    <input type="hidden" asp-for="codAs" />
    <div>
        <label asp-for="codAs"></label>
        <input asp-for="codAs" readonly />
    </div>
    <div>
        <label asp-for="Descricao"></label>
        <input asp-for="Descricao" />
        <span asp-validation-for="Descricao"></span>
    </div>
    <input type="submit" value="Salvar" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
